:root {
  box-sizing: border-box; /* keeping the frame borderless */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  background-color: #aacc96; 


  /* when the doors open this is the inital green fade in then shows the screen */

  /* background-color: #fbfaf7; over all background color, not sure what to make it currently */
}

/* Let React use the full screen freely */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}