:root {
  box-sizing: border-box; /* keeping the frame borderless */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  background-color: #aacc96; 
}

/* Let React use the full screen freely */
#root {
  min-height: 110vh;
  display: flex;
  flex-direction: column;
}