/* making the page with no borders so it is edge to edge */
:root {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* react is now going to be full screen and wont have to use 90 % view */
#root {
  min-height: 110vh;
  display: flex;
  flex-direction: column;
}